body {
  background: #cbbeb5;
  color: #525266;
  text-align: center;
  margin: 50px;
}

.calculator {
  width: 300px;
  margin: 0 auto;
}

#display {
  color: #423f3b;
  text-align: right;
  float: left;
  font-size: 30px;
  line-height: 75px;
  width: 215px;
  height: 75px;
}

button {
  background: #525266;
  color: #ff6666;
  border: 0;
  cursor: pointer;
  float: left;
  font-size: 30px;
  margin: 7px;
  width: 60px;
  height: 60px;
}

